# Don't Include .vs Folder, since the size of the folder will be large
.vs/  

# Don't Include Debug Folder, It's not appropriate to share
# The 'Debug/' will ignore Root/Debug/ and also Root/CGImplementation/Debug
Debug/

# Don't Include Resource Folder
# Don't Include Image Folder. We will share the design resources on other platform
# Don't Include Model Folder. we will shaer the design resources on other platform
ResourceFolder/
ImageFolder/
ModelFolder/

# Don't Include Imgui Setting Save File.
imgui.ini
